---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - postgres.databases.dinhloc.dev
  resources:
  - databaseclusters
  - databaseroles
  - databases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - postgres.databases.dinhloc.dev
  resources:
  - databaseclusters/finalizers
  - databaseroles/finalizers
  - databases/finalizers
  verbs:
  - update
- apiGroups:
  - postgres.databases.dinhloc.dev
  resources:
  - databaseclusters/status
  - databaseroles/status
  - databases/status
  verbs:
  - get
  - patch
  - update
